$color-primary: #11749e;
$color-secondary: #2e85aa;

$color-white: #f0f0f0;

$color-grey-dark-2: #222222;

$color-grey-light-2: #f3f3f3;
$color-grey-light-4: #c7c7c7;
$color-grey-light-5: #d7d7d7;


$bp-largest: 93.75em;
$bp-larger: 81.25em;
$bp-large: 75em;
$bp-medium-big: 68.75em;
$bp-medium-small: 57em;
$bp-small: 46.875em;
$bp-smaller: 40.375em;
$bp-smallest: 27em;